page-assignedsites {
    .right{
        float: right;
        width: 20%;
    }
    .left{
      float: left;
      position: relative;
      width: 70%;
      padding-left: 12px;
    }
    
    .left2{
      float: left;
      padding-left: 12px;
    }

}
