page-addemployee {
    .bd{
       
    }
    .abc{
        //border:3px solid rgb(103, 92, 131);
       // height: 50%;
        }
    .selects{
        padding-left: 15px;
    }
    .error-message{
        padding-left: 15px;
        color: lightcoral;
        font-size: smaller;
    }

}
