page-today {
    .half{
        // height: 100px ;
        // width: 100px ;
        float: left;
        padding-left: 15px;
        padding-top: 8px;
        padding-bottom: 5px;
        
      }
      
      
      .card { 
        height: auto;     
        border-radius: 0.5em;
        border: 2px solid palevioletred    double;
        background: whitesmoke;
            
         }
  .half2{
    font-size: initial;
    float: right;
    padding-right: 30px;
    padding-top: 8px;
    color:blue;
}
}
