page-home {
    .image{
        background-image: url('../assets/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
   
   
      }
      .person{
        font-size: 10em;
        color: blue;
        padding-top: 80px;
        padding-left: 120px;
        padding-right: 50px;
      }
   
    .logincard{
      padding-top:20px;
   
    }
}
