page-employeelist {
    .right{
        float: right;
        margin: auto;
        width: 10%;
    }
    .left{
        float: left;
        position: relative;
        margin: auto;
        width: 80%;
    }
}
